{
"services": {
  "pymdwikiserver": {
    "build": ".",
    "container_name": "pymdwiki",
    "command": "uvicorn main:app --host 0.0.0.0 --port ${PORT:-8000} --reload",
    "volumes": [
      "${APP_LOCATION}:/app/app",
      "${DOCUMENTS_LOCATION}:/app/app/wiki"
        ],
    "ports":
      ["${PORT:-8000}:${PORT:-8000}"],
    "environment":
      ["PYTHONUNBUFFERED=1",
      "PORT=${PORT:-8000}"
      ],
    "restart": "always"
  }
}
}