{% extends "base.html" %}

{% block content %}

<div id="document">

    <p id="pagetitle">
        {% if document_mode == "edit" %}
        <a href="/wiki/{% if page_path %}{{page_path}}/{% endif %}{{page_name}}">Edit: {{title}} </a>
        {% elif document_mode == "create" %}
        Create: {{title}}
        {% endif %}

    </p>

    <form action="/save/" method="post" name="edit_document_form">
        <textarea name="markdown" style="width:100%;" rows=50>{{document}}</textarea>
        <br />
        <input type="submit" value="Save" />
        <input type="hidden" name="document_name" value="{{file_path}}">
        <button name="delete_button" value="true">Delete</button>
    </form>

</div>
{% endblock content %}