:root {
    /* only need to change 4 colors in this one location.
       Also can mess around with variations of the base colors,
       they're all here at the top of the style sheet
    */
    color-scheme: light dark;
    --base-color: #ffd05f;
    --background: #fbf4eb;
    --foreground: #1c170b;
    --lightest: hsl(from var(--base-color) h calc(s * 1.4) calc(l * 1.6));
    --lighter: hsl(from var(--base-color) h calc(s * 1.2) calc(l * 1.3));
    --darker: hsl(from var(--base-color) h calc(s * 0.8) calc(l * 0.7));
    --darkest: hsl(from var(--base-color) h calc(s * 0.6) calc(l * 0.5));
    --complement: hsl(from var(--base-color) calc(h + 180) s l);
    --link-color: #d34216;
    --link-highlight: hsl(from var(--link-color) h calc(s * 1.2) calc(l * 1.3));
    --link-dark: hsl(from var(--link-color) h calc(s * 0.8) calc(l * 0.7));
    --link-visited: hsl(from var(--link-color) calc(h - 120) calc(s * 0.8) calc(l * 0.7));
}


@media (prefers-color-scheme: light) {
    html {
        background-color: var(--background);
        color: var(--foreground);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --darkest: hsl(from var(--base-color) h calc(s * 1.4) calc(l * 1.6));
        --darker: hsl(from var(--base-color) h calc(s * 1.2) calc(l * 1.3));
        --lighter: hsl(from var(--base-color) h calc(s * 0.8) calc(l * 0.7));
        --lightest: hsl(from var(--base-color) h calc(s * 0.6) calc(l * 0.5));
        --link-dark: hsl(from var(--link-color) h calc(s * 1.2) calc(l * 1.3));
        --link-highlight: hsl(from var(--link-color) h calc(s * 0.8) calc(l * 0.7));
        --link-visited: hsl(from var(--link-color) calc(h + 120) calc(s * 0.8) calc(l * 0.7));
    }

    html {
        background-color: var(--foreground);
        color: var(--background);
    }
}

body {
    /*padding: 1em;*/
    font-size: 13pt;
    /* System Fonts with system-ui */
    /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Verdana, Tahoma, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: Helvetica, Arial, system-ui, "Segoe UI", Roboto, sans-serif, Verdana, Tahoma, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-family: Roboto; */
}

body,
div,
span,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*
ul,
ol,
li,
blockquote,*/

#document {

    & ul,
    & ol {
        padding-left: 1em;
    }

    & p {
        margin-bottom: 1em;
    }

    /* Save submit button */
    & input[type="submit"],
    & button {
        background-color: var(--base-color);
        color: var(--foreground);
        padding: 0.5em 2em;
        border: 2px solid var(--darker);
        border-style: solid;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    & input[type="submit"]:hover,
    & button:hover {
        background-color: var(--lighter);
        border: 2px solid var(--darker);
        border-style: outset;
    }

    & input[type="submit"]:active,
    & button:active {
        background-color: var(--darker);
        border: 2px solid var(--darker);
        border-style: inset;
    }

}

.codehilite {
    overflow: auto;
}


/*ul,li,ol{list-style:none;}*/
a {
    outline: none;
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-highlight);
}

a:visited {
    color: var(--link-visited);
}

a:active {
    color: var(--link-dark);
}


#document_header,
#document_footer {
    background-color: var(--darker);
    color: light-dark(var(--background), var(--foreground));
    /* color: light-dark(lime, magenta); */

    & a {
        text-decoration: underline;
        font-weight: bolder;
    }

    & a:hover {

        text-decoration: dotted;
    }
}

#document_footer {
    margin-top: 5em;
}

#toc {
    border: 0px;
    width: calc(0.5 * calc(99% - min(80%, 800px)));
    float: left;
    clear: both;
    padding-left: 1px;

    & ul,
    & ol {
        padding-left: 0.3em;
        border-left: 1px solid var(--base-color);
    }

    & ul,
    & li,
    & ol {
        list-style: none;
    }
}

#document {
    margin: auto;
    width: min(80%, 800px);
    padding: 3% min(15%, 250px) 15% min(15%, 250px);
    padding: 5px;

    & #pagetitle {
        font-size: 300%;
        text-align: center;
        border-bottom: 1px solid var(--darker);
        /*filter: drop-shadow(0 5px 5px var(--darker));*/
        box-shadow: 0px 10px 10px -10px var(--darker);
        margin-bottom: 1em;
    }

    & #pagetitle a {
        filter: none;
    }

    & h1 {
        color: var(--darkest);
        /* color: var(--lightest);
        background-color: var(--darker);
        margin-bottom: 0.5em; */
        margin-top: 0.5em;
        border-bottom: 1px solid var(--base-color);
    }

    & h2 {
        color: var(--darker);
        /* color: var(--lighter);
        background-color: var(--darker);
        margin-bottom: 0.25em; */
        margin-top: 0.25em;
        border-bottom: 1px solid var(--lighter);
    }

    & h3,
    & h4 {
        color: var(--darker);
        margin-top: 0.15em;

    }

    & h5 {
        color: var(--darkest);
        margin-top: 0.05em;
    }

    & a.missing {
        text-decoration: dotted;
    }

    & a.missing::after {
        content: "⛓️‍💥";
        /* background-color: var(--link-dark) */
    }

    & blockquote {
        border-left: 2px solid light-dark(var(--darker), var(--lighter));
        padding-top: 1em;
        padding-left: 1em;
        padding-bottom: 1em;
    }

    & table th,
    & table tr:nth-child(even) {
        background-color: var(--lightest);
    }

    & textarea {
        width: 100%;
        height: auto;
    }

}



@media (max-width:816px),
(max-device-width: 816px) {

    #document {
        font-size: 150%;
        background-color: rgb(27, 164, 111);
        padding: 0;
        margin: auto;
        width: 99%;
    }

    #toc {
        border: 1px solid red;
        width: 99%;
        float: none;
        display: none;
    }

}


@media (max-width:639px),
(max-device-width: 639px) {

    #document {
        font-size: 200%;
        background-color: rgb(148, 205, 198);
        padding: 0;
        margin: auto;
        width: 99%;
    }

    #toc {
        border: 1px solid blue;
        width: 99%;
        float: none;
        display: none;
    }

}

/* Code color formatting rules */

@media (prefers-color-scheme: light) {
    pre {
        line-height: 125%;
    }

    td.linenos .normal {
        color: inherit;
        background-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
    }

    span.linenos {
        color: inherit;
        background-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
    }

    td.linenos .special {
        color: #000000;
        background-color: #ffffc0;
        padding-left: 5px;
        padding-right: 5px;
    }

    span.linenos.special {
        color: #000000;
        background-color: #ffffc0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .codehilite .hll {
        background-color: #ffffcc
    }

    .codehilite {
        background: #ffffff;
    }

    .codehilite .c {
        color: #888;
        font-style: italic
    }

    /* Comment */
    .codehilite .err {
        color: #F00
    }

    /* Error */
    .codehilite .k {
        color: #00F
    }

    /* Keyword */
    .codehilite .n {
        color: #000
    }

    /* Name */
    .codehilite .ch {
        color: #888;
        font-style: italic
    }

    /* Comment.Hashbang */
    .codehilite .cm {
        color: #888;
        font-style: italic
    }

    /* Comment.Multiline */
    .codehilite .cp {
        color: #888;
        font-style: italic
    }

    /* Comment.Preproc */
    .codehilite .cpf {
        color: #888;
        font-style: italic
    }

    /* Comment.PreprocFile */
    .codehilite .c1 {
        color: #888;
        font-style: italic
    }

    /* Comment.Single */
    .codehilite .cs {
        color: #888;
        font-style: italic
    }

    /* Comment.Special */
    .codehilite .kc {
        color: #00F
    }

    /* Keyword.Constant */
    .codehilite .kd {
        color: #00F
    }

    /* Keyword.Declaration */
    .codehilite .kn {
        color: #00F
    }

    /* Keyword.Namespace */
    .codehilite .kp {
        color: #00F
    }

    /* Keyword.Pseudo */
    .codehilite .kr {
        color: #00F
    }

    /* Keyword.Reserved */
    .codehilite .kt {
        color: #00F
    }

    /* Keyword.Type */
    .codehilite .m {
        color: #3AF
    }

    /* Literal.Number */
    .codehilite .s {
        color: #5A2
    }

    /* Literal.String */
    .codehilite .na {
        color: #000
    }

    /* Name.Attribute */
    .codehilite .nb {
        color: #000
    }

    /* Name.Builtin */
    .codehilite .nc {
        color: #000
    }

    /* Name.Class */
    .codehilite .no {
        color: #000
    }

    /* Name.Constant */
    .codehilite .nd {
        color: #000
    }

    /* Name.Decorator */
    .codehilite .ni {
        color: #000
    }

    /* Name.Entity */
    .codehilite .ne {
        color: #000
    }

    /* Name.Exception */
    .codehilite .nf {
        color: #000
    }

    /* Name.Function */
    .codehilite .nl {
        color: #000
    }

    /* Name.Label */
    .codehilite .nn {
        color: #000
    }

    /* Name.Namespace */
    .codehilite .nx {
        color: #000
    }

    /* Name.Other */
    .codehilite .py {
        color: #000
    }

    /* Name.Property */
    .codehilite .nt {
        color: #000
    }

    /* Name.Tag */
    .codehilite .nv {
        color: #000
    }

    /* Name.Variable */
    .codehilite .ow {
        color: #00F
    }

    /* Operator.Word */
    .codehilite .mb {
        color: #3AF
    }

    /* Literal.Number.Bin */
    .codehilite .mf {
        color: #3AF
    }

    /* Literal.Number.Float */
    .codehilite .mh {
        color: #3AF
    }

    /* Literal.Number.Hex */
    .codehilite .mi {
        color: #3AF
    }

    /* Literal.Number.Integer */
    .codehilite .mo {
        color: #3AF
    }

    /* Literal.Number.Oct */
    .codehilite .sa {
        color: #5A2
    }

    /* Literal.String.Affix */
    .codehilite .sb {
        color: #5A2
    }

    /* Literal.String.Backtick */
    .codehilite .sc {
        color: #5A2
    }

    /* Literal.String.Char */
    .codehilite .dl {
        color: #5A2
    }

    /* Literal.String.Delimiter */
    .codehilite .sd {
        color: #5A2
    }

    /* Literal.String.Doc */
    .codehilite .s2 {
        color: #5A2
    }

    /* Literal.String.Double */
    .codehilite .se {
        color: #5A2
    }

    /* Literal.String.Escape */
    .codehilite .sh {
        color: #5A2
    }

    /* Literal.String.Heredoc */
    .codehilite .si {
        color: #5A2
    }

    /* Literal.String.Interpol */
    .codehilite .sx {
        color: #5A2
    }

    /* Literal.String.Other */
    .codehilite .sr {
        color: #5A2
    }

    /* Literal.String.Regex */
    .codehilite .s1 {
        color: #5A2
    }

    /* Literal.String.Single */
    .codehilite .ss {
        color: #5A2
    }

    /* Literal.String.Symbol */
    .codehilite .bp {
        color: #000
    }

    /* Name.Builtin.Pseudo */
    .codehilite .fm {
        color: #000
    }

    /* Name.Function.Magic */
    .codehilite .vc {
        color: #000
    }

    /* Name.Variable.Class */
    .codehilite .vg {
        color: #000
    }

    /* Name.Variable.Global */
    .codehilite .vi {
        color: #000
    }

    /* Name.Variable.Instance */
    .codehilite .vm {
        color: #000
    }

    /* Name.Variable.Magic */
    .codehilite .il {
        color: #3AF
    }

    /* Literal.Number.Integer.Long */

}

@media (prefers-color-scheme: dark) {
    pre {
        line-height: 125%;
    }

    td.linenos .normal {
        color: inherit;
        background-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
    }

    span.linenos {
        color: inherit;
        background-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
    }

    td.linenos .special {
        color: #000000;
        background-color: #ffffc0;
        padding-left: 5px;
        padding-right: 5px;
    }

    span.linenos.special {
        color: #000000;
        background-color: #ffffc0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .codehilite .hll {
        background-color: #423d31;
        border-right: 1px solid hsl(60, 40%, 40%);
        ;
        border-left: 1px solid hsl(60, 40%, 40%);
        ;
    }

    .codehilite .hll:hover {
        background-color: #565040;
        border-right: 1px solid hsl(60, 80%, 50%);
        border-left: 1px solid hsl(60, 80%, 50%);
    }

    .codehilite {
        background: #282828;
        color: #DDD
    }

    .codehilite .c {
        color: #928374;
        font-style: italic
    }

    /* Comment */
    .codehilite .err {
        color: #282828;
        background-color: #FB4934
    }

    /* Error */
    .codehilite .esc {
        color: #DDD
    }

    /* Escape */
    .codehilite .g {
        color: #DDD
    }

    /* Generic */
    .codehilite .k {
        color: #FB4934
    }

    /* Keyword */
    .codehilite .l {
        color: #DDD
    }

    /* Literal */
    .codehilite .n {
        color: #DDD
    }

    /* Name */
    .codehilite .o {
        color: #DDD
    }

    /* Operator */
    .codehilite .x {
        color: #DDD
    }

    /* Other */
    .codehilite .p {
        color: #DDD
    }

    /* Punctuation */
    .codehilite .ch {
        color: #928374;
        font-style: italic
    }

    /* Comment.Hashbang */
    .codehilite .cm {
        color: #928374;
        font-style: italic
    }

    /* Comment.Multiline */
    .codehilite .c-PreProc {
        color: #8EC07C;
        font-style: italic
    }

    /* Comment.PreProc */
    .codehilite .cp {
        color: #928374;
        font-style: italic
    }

    /* Comment.Preproc */
    .codehilite .cpf {
        color: #928374;
        font-style: italic
    }

    /* Comment.PreprocFile */
    .codehilite .c1 {
        color: #928374;
        font-style: italic
    }

    /* Comment.Single */
    .codehilite .cs {
        color: #EBDBB2;
        font-weight: bold;
        font-style: italic
    }

    /* Comment.Special */
    .codehilite .gd {
        color: #282828;
        background-color: #FB4934
    }

    /* Generic.Deleted */
    .codehilite .ge {
        color: #DDD;
        font-style: italic
    }

    /* Generic.Emph */
    .codehilite .ges {
        color: #DDD;
        font-weight: bold;
        font-style: italic
    }

    /* Generic.EmphStrong */
    .codehilite .gr {
        color: #FB4934
    }

    /* Generic.Error */
    .codehilite .gh {
        color: #EBDBB2;
        font-weight: bold
    }

    /* Generic.Heading */
    .codehilite .gi {
        color: #282828;
        background-color: #B8BB26
    }

    /* Generic.Inserted */
    .codehilite .go {
        color: #F2E5BC
    }

    /* Generic.Output */
    .codehilite .gp {
        color: #A89984
    }

    /* Generic.Prompt */
    .codehilite .gs {
        color: #DDD;
        font-weight: bold
    }

    /* Generic.Strong */
    .codehilite .gu {
        color: #EBDBB2;
        text-decoration: underline
    }

    /* Generic.Subheading */
    .codehilite .gt {
        color: #FB4934
    }

    /* Generic.Traceback */
    .codehilite .kc {
        color: #FB4934
    }

    /* Keyword.Constant */
    .codehilite .kd {
        color: #FB4934
    }

    /* Keyword.Declaration */
    .codehilite .kn {
        color: #FB4934
    }

    /* Keyword.Namespace */
    .codehilite .kp {
        color: #FB4934
    }

    /* Keyword.Pseudo */
    .codehilite .kr {
        color: #FB4934
    }

    /* Keyword.Reserved */
    .codehilite .kt {
        color: #FB4934
    }

    /* Keyword.Type */
    .codehilite .ld {
        color: #DDD
    }

    /* Literal.Date */
    .codehilite .m {
        color: #D3869B
    }

    /* Literal.Number */
    .codehilite .s {
        color: #B8BB26
    }

    /* Literal.String */
    .codehilite .na {
        color: #FABD2F
    }

    /* Name.Attribute */
    .codehilite .nb {
        color: #FE8019
    }

    /* Name.Builtin */
    .codehilite .nc {
        color: #8EC07C
    }

    /* Name.Class */
    .codehilite .no {
        color: #D3869B
    }

    /* Name.Constant */
    .codehilite .nd {
        color: #FB4934
    }

    /* Name.Decorator */
    .codehilite .ni {
        color: #DDD
    }

    /* Name.Entity */
    .codehilite .ne {
        color: #FB4934
    }

    /* Name.Exception */
    .codehilite .nf {
        color: #8EC07C
    }

    /* Name.Function */
    .codehilite .nl {
        color: #DDD
    }

    /* Name.Label */
    .codehilite .nn {
        color: #8EC07C
    }

    /* Name.Namespace */
    .codehilite .nx {
        color: #DDD
    }

    /* Name.Other */
    .codehilite .py {
        color: #DDD
    }

    /* Name.Property */
    .codehilite .nt {
        color: #8EC07C
    }

    /* Name.Tag */
    .codehilite .nv {
        color: #83A598
    }

    /* Name.Variable */
    .codehilite .ow {
        color: #FB4934
    }

    /* Operator.Word */
    .codehilite .pm {
        color: #DDD
    }

    /* Punctuation.Marker */
    .codehilite .w {
        color: #DDD
    }

    /* Text.Whitespace */
    .codehilite .mb {
        color: #D3869B
    }

    /* Literal.Number.Bin */
    .codehilite .mf {
        color: #D3869B
    }

    /* Literal.Number.Float */
    .codehilite .mh {
        color: #D3869B
    }

    /* Literal.Number.Hex */
    .codehilite .mi {
        color: #D3869B
    }

    /* Literal.Number.Integer */
    .codehilite .mo {
        color: #D3869B
    }

    /* Literal.Number.Oct */
    .codehilite .sa {
        color: #B8BB26
    }

    /* Literal.String.Affix */
    .codehilite .sb {
        color: #B8BB26
    }

    /* Literal.String.Backtick */
    .codehilite .sc {
        color: #B8BB26
    }

    /* Literal.String.Char */
    .codehilite .dl {
        color: #B8BB26
    }

    /* Literal.String.Delimiter */
    .codehilite .sd {
        color: #B8BB26
    }

    /* Literal.String.Doc */
    .codehilite .s2 {
        color: #B8BB26
    }

    /* Literal.String.Double */
    .codehilite .se {
        color: #FE8019
    }

    /* Literal.String.Escape */
    .codehilite .sh {
        color: #B8BB26
    }

    /* Literal.String.Heredoc */
    .codehilite .si {
        color: #B8BB26
    }

    /* Literal.String.Interpol */
    .codehilite .sx {
        color: #B8BB26
    }

    /* Literal.String.Other */
    .codehilite .sr {
        color: #B8BB26
    }

    /* Literal.String.Regex */
    .codehilite .s1 {
        color: #B8BB26
    }

    /* Literal.String.Single */
    .codehilite .ss {
        color: #B8BB26
    }

    /* Literal.String.Symbol */
    .codehilite .bp {
        color: #FE8019
    }

    /* Name.Builtin.Pseudo */
    .codehilite .fm {
        color: #8EC07C
    }

    /* Name.Function.Magic */
    .codehilite .vc {
        color: #83A598
    }

    /* Name.Variable.Class */
    .codehilite .vg {
        color: #83A598
    }

    /* Name.Variable.Global */
    .codehilite .vi {
        color: #83A598
    }

    /* Name.Variable.Instance */
    .codehilite .vm {
        color: #83A598
    }

    /* Name.Variable.Magic */
    .codehilite .il {
        color: #D3869B
    }

    /* Literal.Number.Integer.Long */
}